@font-face {
    font-family: 'Singo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Singo Regular'), url('Singo-eZnze.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Singo Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Singo Italic'), url('SingoItalic-WymEV.woff') format('woff');
    }

body {

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/images/wallpaper.gif');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}
.background-image {
    z-index: -1;

}
.navbar-transparent { 
    background-color:rgba(0, 0, 0, 0.8) !important; 
}
.navbar-logo {
    width: 300px;
}
.nav-link {
    color: #853aaa !important;
    font-family: Singo Regular;
    font-size: 44px;
    transition: 0.5s;
}
.nav-link:hover {
    color: #ffffff !important;
    font-family: Singo Regular;
    font-size: 44px;
    transition: 0.5s;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
.container-body {
    padding-top: 165px;
    height: 100vh;
}